@font-face {
  font-family: 'Droid Sans';
  src: url('DroidSans-webfont.eot');
  src: url('DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
  url('DroidSans-webfont.woff') format('woff'),
  url('DroidSans-webfont.ttf') format('truetype'),
  url('DroidSans-webfont.svg#droid_sansregular') format('svg');
}

@font-face {
  font-family: 'Droid Sans';
  src: url('DroidSans-Bold-webfont.eot');
  src: url('DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('DroidSans-Bold-webfont.woff') format('woff'),
  url('DroidSans-Bold-webfont.ttf') format('truetype'),
  url('DroidSans-Bold-webfont.svg#droid_sansbold') format('svg');
  font-weight: bold;
}

body {
  font-family: 'Droid Sans';
  font-size: 12px;
  margin: 0;
  padding: 0;
}

div.toc {
  width: 230px;
  background: #eee;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  border-right: 1px solid #999;
}

div.toc div {
  padding: 5px 0 0 10px;
}

div.toc > div {
  font-size: 18px;
}

div.toc > div > div {
  font-size: 14px;
}

div.toc > div > div > div {
  font-size: 12px;
}

div.toc a {
  font-weight: bold;
}

div.toc div div a:before {
  content: '✧ '
}

div.toc a, div.toc a:visited {
  text-decoration: none;
  color: #333;
}

div.toc a:hover {
  color: #666;
}

div.toc a:active {
  color: #aaa;
}

div.content {
  left: 241px;
  top: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  position: absolute;
  overflow: auto;
}

div.content > p.title {
  font-size: 24px;
  font-weight: bold;
  margin: 5px 0;
}

div.content > p.description {
  font-size: 14px;
  margin: 0;
}

a.link {
  color: green;
  font-weight: bold;
  text-decoration: none;
}

div.group > p.name {
  font-size: 20px;
  font-weight: bold;
  margin: 15px 0 5px;
}

div.group > p.name:before {
  content: '« '
}

div.group > p.name:after {
  content: ' »'
}

div.group > p.description {
  font-size: 14px;
  margin: 0;
}

div.group > div {
  padding-left: 20px;
}

div.route {
  margin: 0;
}

div.route > p {
  margin: 15px 0 5px 0;
  font-size: 16px;
  font-weight: bold;
}

div.route > p span.verb {
  color: #ed7D00;
}

div.request > p {
  margin: 0;
  width: 433px;
}

div.responses > p {
  margin: 15px 0 -5px 0;
  font-size: 16px;
  font-weight: bold;
}

div.response {
  padding-left: 20px;
}

div.response > p {
  margin: 0;
  width: 433px;
}

div.response > p.title {
  margin: 15px 0 5px 0;
  font-size: 14px;
  font-weight: bold;
}

div.spec {
  display: inline-block;
  clear: both;
  margin-top: 5px;
}

div.spec table {
  float: left;
}

div.example {
  display: inline-block;
  padding-left: 5px;
}

div.example p {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 5px 0;
}

div.example pre {
  margin: 0;
  font-family: Consolas;
  padding: 5px;
  background: #222;
  color: #fff;
}

div.example pre.header {
  background: #444;
}

div.example span.json-key {
  color: #ed7D00;
}

div.example span.json-token {
  color: #77bcd7;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  border-bottom: 1px solid #999;
  padding-bottom: 5px;
}

td.name {
  width: 100px;
  font-weight: bold;
  text-align: right;
}

td.name span {
  display: block;
}

td.name span.type {
  color: #339;
}

td.description {
  vertical-align: top;
  padding-left: 10px;
  width: 320px;
}
